*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: prop;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: prop;
    src: url(./3534416bbfdcc9be-s.p.woff2);
}

#main{
    width: 100%;
    position: relative;
}

#nav{
    height: 7vh;
    width: 100vw;
    background-color: #F3F0EA;
    padding: 1.8vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 120;
}

#nav #logo{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 600;
    color: #4C3D30;
}
#centerNav{
    display: flex;
    align-items: center;
    gap: 10px;
}
#lines{
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.line{
    height: 1px;
    width: 2vw;
    background-color: #4C3D30;
}
#centerNav h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    color: #4C3D30;
}

#rightNav{
    display: flex;
    align-items: center;
    gap: 3vw;
}

#rightNav h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    color: #4C3D30;
}
#cart{
    display: flex;
    align-items: center;
    gap: .8vw;
}

#navToggle{
    height: 0vh;
    width: 100vw;
    position: fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.371);
    backdrop-filter: blur(10px); 
}
#options{
    transform: translateY(-100%);
    height: 50vh;
    width: 100%;
    background-color: #F3F0EA;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
}
#atags{
    height: 40%;
    width: 60%;
    display: flex;
    padding: 0vh 30px;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    margin-top: 15vh;
    justify-content: flex-start;
}
#atags a{
    height: 10vh;
    font-size: 4.2vw;
    color: rgba(0, 0, 0, 0.301);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
    filter: blur(0px);  
}

#atags h1{
    font-size: 4.2vw;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 35px;
    font-weight: 400;
    transform: translateY(100%);
    padding-left: 14px;
}

.at{
    /* background-color: #4C3D30; */
    overflow: hidden;
}
#home{
    font-style: italic;
}
.at span{
    display: inline-block;
}

#navImage{
    opacity: 0;
    height: 110%;
    width: 20vw;
    transform: translateY(-10%);
    background-size: cover;
    background-position: center;
    background-image: none;
}

#video{
    width: 100vw;
    height: 160vh;
    overflow: hidden;
    position: relative;
}

#video video{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -70%;
    transform: scale(1.3);
    z-index: -99;
}

#page1Content{
    height: 100%;
    width: 100vw;
    position: relative;
    z-index: 50;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.122);
}
#title{
    overflow: hidden;
    width: 102vw;  
    height: 65vh;
    color:#F3F0EA;   
    transform: translateX(-1.5%);
}
#title h1{
    font-size: 32vw;
    font-weight: 400;
}
#title span{
    display: inline-block;
}
#sub{
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    gap: 20px;
    /* transform: translateY(-65%); */
}
#sub h4{
    color: #F3F0EA;
    font-size: 1.1vw;
    font-weight: 300;
    text-transform: uppercase;
}

#button{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    border: 1px #F3F0EA solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 15px;
}
#button h4{
    font-size: .95vw;
}
#arrow{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #F3F0EA;
    padding: 12px;
}
#arrow i{
    display: block;
    transform: scale(2);
}
#loader{
    height: 100vh;
    width: 100vw;
    background-color: #F3F0EA;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    top: -100%;
}
#imageContainer{
    height: 30vw;
    width: 25vw;
    position: relative;
    overflow: hidden;
}
#imageContainer img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 0%;
}

#load{
    height: 20vh;
    width: 35vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
}
#load h1{
    font-size: 10vw;
    font-weight: 500;
    color: #4C3D30;
}
#percent{
    transform: translateY(50%);
}
#open{
    transform: translateY(20%);
}
#load span{
    display: inline-block;
}
#grow{
    position: absolute;
    display: flex;
    top: 61.25%;
    opacity: 1;
}
#grow h1{
    font-size: 10vw;
    font-weight: 500;
    color: #4C3D30;
}


#lower{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10vw;
    gap: 5vh;
    top: 33%;
    transform: translateY(-100%);
}
#lower h1{
    text-transform: uppercase;
    color: #FFFF ;
    font-size: 4vw;
    font-weight: 400;
    text-align: right;
    line-height: 8.5vh;
}
#box{
    height: 50vh;
    width: 25vw;
    background-color: transparent;
    transform: translateX(25%);
    padding: 11px;
    color: transparent;
}
#mid{
    height: 84%;
    width: 100%;
    background-color: #F3F0EA;
}
#mid img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
}

#lower h6{
    font-size: 1vw;
    font-weight: 400;
}

#lower h5{
    font-size: 1vw;
    font-weight: 700;
    margin-bottom: 8px;
}
#box h4{
    font-size: 1vw;
    font-weight: 400;
    padding-left: 14.5vw;
}
#lower h2{
    font-size: 6vw;
    color: #FFFF;
    text-transform: uppercase;
    font-weight: 400;
    transform: translateX(6.7vw);
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #F3F0EA;
    display: flex;
    position: relative;
}

#left2{
    height: 100%;
    width: 40%;
    padding: 10vh 8vw;
    position: relative;
}
#img1{
    height: 26.3vw;
    width: 23.5vw;
    position: absolute;
}

#img2{
    height: 18.6vw;
    width: 16.6vw;
    position: absolute;
    top: 30%;
    left: 50%;
}
#right2{
    height: 100%;
    width: 60%;
    padding: 6vw 3vw;
}
#right2 h1{
    color: #4C3D30;
    font-weight: 300;
    font-size: 3.1vw;
    margin-bottom: 2vw;
}
#right2 h5{
    width: 24vw;
    color: #4C3D30;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 3vh;
    margin-bottom: 2vw;
}
#button2{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 1px #4C3D30 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 15px;
}
#button2 #outer{
    height: 1.9vh;
    width: 6vw;
    padding-left: 2px;
    overflow: hidden;
}
#button2 h4{
    font-size: .95vw;
    color: #4C3D30;
    font-weight: 500;
}
#arrow2{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #4C3D30;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 25px;
    overflow: hidden;
}
#arrow2 i{
    display: inline-block;
    color: #F3F0EA;
    transform: scale(2);
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: #F3F0EA;
    padding: 1.5vw;
}
#page3 h1{
    font-size: 3vw;
    font-weight: 400;
    color: #4C3D30;
    margin-bottom: 1vw;
}
#caseroll{
    height: 32.5vw;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX();
}
 .card{
    height: 32.5vw;
    width: 27vw;
    background-color: #E8E0D4;
    padding: 1vw;
    flex-shrink: 0;
 }

#photo{
    height: 82%;
    width: 100%;
    margin-bottom: 1vw;
 }
.card h5{
    font-size: 0.95vw !important;
    font-weight: 500;
    text-transform: uppercase;
 }

.card h1{
    font-size: 2.5vw !important;
    font-weight: 300 !important;
}
#photo img{
    width: 100%;
    object-fit: cover;
}